@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h2 >Project MRT Sungai Buloh Kajang Line</h2>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg m-2" href="https://localhost:7170/ProjectController1/MRTSungaiBulohKajangLine">Buy Ticket</a>
        <a class="btn btn-secondary btn-lg m-2" href="https://localhost:7170/ProjectController1/Index">Admin Report</a>
    </div>
</div>
